body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 160vh;
}

.container {
    background-color: #fff;
    //padding: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 95%;
    //max-width: 800px;
}
/* Estilos para el contenedor del iframe */
/*.iframe-container {
    margin: 20px auto;
    max-width: 90%;
    width: 100%;
    overflow: hidden;
}*/

/* Asegura que el iframe ocupe el 100% del contenedor */
/*.iframe-container iframe {
    width: 100%;
    height: 100%;
    border: none;
}*/

.section-container {
    background-color: #fff;
    //padding: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
}



h1, h2 {
    text-align: center;
}

.product-form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.product-form input {
    width: 18%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.product-form button {
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.product-form button:hover {
    background-color: #218838;
}

.cart {
    margin-top: 20px;
}
.cart button {
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cart button:hover {
    background-color: #218838;
}
table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: center;
}

.cart-total {
    text-align: right;
    margin-top: 20px;
}

.cart-total h3 {
    margin: 0;
}
